#TVArea {
    position: fixed;
    left: 0;
    top: 0;
}
#TVArea._1920x1080 {
    width:1920px;
    height:1080px;
}
#TVArea._1280x720 {
    width:1280px;
    height:720px;
}
#TVArea._960x540 {
    width:960px;
    height:540px;
}
#TVArea._854x480 {
    width:854px;
    height:480px;
}
/**
 * List all general rules of css style. font, color, background color etc.
 */
.colorWhite {
    color: #FFFFFF;
}

.colorDarkGray {
    color: #231E1F;
}

.colorLightGray {
    color: #666666;
}

.backgroundColorOrange {
    background-color: #F78B33;
}

.backgroundColorOrangeSemiTransparent {
    background-color: rgba(247, 139, 51, 0.98)
}

.backgroundColorWhite {
    background-color: #FFFFFF;
}

.backgroundColorDarkYellow {
    background-color: #FBCD09;
}

.backgroundColorDarkYellowSemiTransparent {
    background: -webkit-linear-gradient(90deg, rgba(251, 205, 9, 1) 0%, rgba(251, 205, 9, 1) 21%, rgba(251, 205, 9, 0.93) 60%, rgba(251, 205, 9, 0.8) 100%);
    background: -moz-linear-gradient(90deg, rgba(251, 205, 9, 1) 0%, rgba(251, 205, 9, 1) 21%, rgba(251, 205, 9, 0.93) 60%, rgba(251, 205, 9, 0.8) 100%);
    background: -o-linear-gradient(90deg, rgba(251, 205, 9, 1) 0%, rgba(251, 205, 9, 1) 21%, rgba(251, 205, 9, 0.93) 60%, rgba(251, 205, 9, 0.8) 100%);
    background: -ms-linear-gradient(90deg, rgba(251, 205, 9, 1) 0%, rgba(251, 205, 9, 1) 21%, rgba(251, 205, 9, 0.93) 60%, rgba(251, 205, 9, 0.8) 100%);
    background: linear-gradient(90deg, rgba(251, 205, 9, 1) 0%, rgba(251, 205, 9, 1) 21%, rgba(251, 205, 9, 0.93) 60%, rgba(251, 205, 9, 0.8) 100%);
}

.font24 {
    font-size: 24px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
}

.textOverflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/******** All the color, font are defined above. The following classes should not have these properties. **************/
.rightPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-right: 50px;
}

.leftPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/***** Message model start *******/
.rightPanel .messageContainer {
    float: right;
    clear: right;
    margin-bottom: 30px;
    max-width: 40%;
    min-width: 300px;
}
.messageContainer .messageBar {
    padding: 10px 25px 10px 20px;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
}

.messageContainer .profileBar {
    height: 55px;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid white;
}
.messageContainer .profileName {
    padding: 14px 60px 13px 70px;
    position: relative;
}
.messageContainer .profileName:after {
    content: url(../images/logoBlack.png);
    position: absolute;
    right: 20px;
    top: 10px;
}

.messageContainer .profileName .profileNameText {
    max-width: 200px;
}

.messageContainer .profileImageContainer {
    overflow: hidden;
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: -55px;
}
.messageContainer .profileImage {
    width: 100%;
}

.messageContainer:after {
    content: url(../images/triangle.png);
    position: absolute;
    right: 20px;
    margin-top: -1px;
}
/***** Message model end *******/


/***** NotificationRound model start *******/
.rightPanel .notificationContainer {
    margin-bottom: 30px;
    display: table;
    float: right;
    clear: right;
    max-width: 40%;
    height: 120px;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
}

.notificationContainer .notificationImage {
    position: absolute;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
}

.notificationContainer .notificationImage img {
    position: absolute;
    max-height: 70px;
    max-width: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.notificationContainer .notificationMessage {
    padding: 0 40px 0 130px;
    display: table-cell;
    vertical-align: middle;
    height: 120px;
}

.notificationContainer .notificationMessage .notificationMessageText {
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/***** NotificationRound model end *******/


/***** NotificationSquare model start *******/
.leftPanel .notificationSquareContainer {
    float: left;
    clear: left;
    margin-bottom: 30px;
    margin-left: 40px;
    max-width: 40%;
}

.notificationSquareContainer .messageBar {
    border: 1px solid #FFFFFF;
    padding: 25px;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.notificationSquareContainer .messageBar .notificationLogo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.notificationSquareContainer .profileBar {
    position: relative;
    height: 55px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.notificationSquareContainer .profileBar .profileImage {
    position: absolute;
    left: 1px;
    top: 0;
    width: 55px;
    height: 55px;
}

.notificationSquareContainer .profileBar .profileName {
    padding-left: 75px;
    padding-right: 320px;
    line-height: 55px;
    max-width: 200px;
}

.notificationSquareContainer .profileBar .adImage {
    position: absolute;
    right: 0;
    top: 2px;
}

/***** NotificationSquare model end ********/


/******** Animation start **********/
.fadeOut {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

/******** Animation end ***********/.playerObject, .fullscreen, .playObject.relative.fullscreen{
    position:fixed;
} 
.playerObject.relative {
    position:relative;
}